.appButton {
  background-color: rgba(255, 255, 255, 0.132);
  border: none;
  border-radius: 3px;
  padding: 12px 20px;
  color: #f9f6f2;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
